@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");

:root {
  --Bright-Red: hsl(12, 88%, 59%);
  --Dark-Blue: hsl(228, 39%, 23%);
  --Dark-Grayish-Blue: hsl(227, 12%, 61%);
  --Very-Dark-Blue: hsl(233, 12%, 13%);
  --Very-Pale-Red: hsl(13, 100%, 96%);
  --Vary-Light-Gray: hsl(0, 0%, 98%);
}
html{
    font-size: 16px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
  }
  button{
    background-color: var(--Bright-Red);
    border: none;
    border-radius: 30px;
    color: var(--Vary-Light-Gray);
    width: 8rem;
    height: 3rem;
  }
  p{
    color: var(--Dark-Grayish-Blue);
    line-height: 1.5;
  }
nav{
  margin: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  background-image: url("./images/bg-simplify-section-mobile.svgx");
  background-position: initial;
}  
.section1 img{
  width: 17rem;
  margin-left: 4rem;
}
.section2{
  
  text-align: center;
}
h1, h2{
  margin: 1rem;
  color: var(--Dark-Blue);
  font-size: 2.2rem;
}

.section2 p{
  margin: 1px 2.2rem 1.5rem 2.2rem;
}

h2{
  font-size: 2rem;
  margin: 6rem 2rem 3rem 2rem;
}
.section3{
  margin-left: 1rem;
  background-image: url("./images/bg-tablet-pattern.svg");
}
.section3{
  margin-right: 2px;
}
.list1{
  display: flex;
  background-color: var(--Very-Pale-Red);
  height: 2rem;
  margin: 1rem;
}
.list1 button{
  width: 4rem;
  height: 2rem;
}
h4{
  color: var(--Dark-Blue);
}

.profile img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5rem;
  position: relative;
  top: 2.2rem;
}
.profileContent{
  background-color: var(--Vary-Light-Gray);
  height: 14rem;
  text-align: center;
  padding: 4rem 1rem 2rem 1rem;
}
.profileContent h4{
  margin-bottom: 1rem;
}
.section4 button{
  display: block;
  margin: 4rem auto 2rem auto;
}

.section5{
  background-image: url("./images/bg-simplify-section-mobile.svg");
  background-repeat: no-repeat;
  background-color: var(--Bright-Red);
  text-align: center;
  height: 20rem;
  padding: 4rem 1rem;
}
.section5 h1{
  color: var(--Vary-Light-Gray);
  font-size: 2.3rem;
}
.section5 button{
  color: var(--Bright-Red); 
  background-color: var(--Vary-Light-Gray);
}
.section6{
  background-color: var(--Very-Dark-Blue);
  color: var(--Vary-Light-Gray);
  padding: 3rem 2rem;
}
input{
  border-radius: 30px;
  width: 13rem;
    height: 3rem;
    padding: 1rem;
    border: none;
}
.section6 button{
  width: 5rem;
  margin-left: .5rem;
}
.section6 ul{
  list-style: none;
}
.nav-list{
 margin: 2rem;
 display: flex;
 justify-content: space-between;
 line-height: 2;
}
.li1{
  margin-right: 2rem;
}
.font img{
  width: 2rem;
  margin-left: 1.5rem ;
}
.logo-footer img{
  width: 10rem;
  margin: 4rem;
}